.box {
  border: 5px solid rebeccapurple;
  background-color: lightgray;
  padding: 40px;
  margin: 40px;
  width: 300px;
  height: 150px;
}

.box span {
  background-color: pink;
  border: 2px solid black;
  padding: 1em 5px 10px;
  display: inline-block;
  margin: 5px 0;
}

.box1 {
  box-sizing: content-box;
  width: 300px;           
  height: 200px;          
  padding: 20px;           
  border: 5px solid black; 
}

.box1 span {
  background-color: pink;
  border: 2px solid black;
  padding: 1em 5px 10px;
  display: inline-block;
  margin: 5px 0;
}

.box2 {
  box-sizing: border-box;
  width: 300px;          
  height: 200px;         
  border: 5px dashed black;
  margin: 20px 1em 40px 2em;
  padding: 1em;
}

.box2 span {
  background-color: pink;
  border: 2px solid black;
  padding: 1em 5px 10px;
  display: inline-block;
  margin: 5px 0;
}

.main-wrapper {
  max-width: 800px;       
  margin: 0 auto;          
  padding: 30px;             
  border: 3px solid #333333;  
  background-color: #ffffff;  
}