.first {
    color: red;
}
.second {
    color: blue;
}
.third {
    color: green;
    background-color: yellow;
}

.fourth {
    color: gray;
    
}
.border {
    border: solid red 1px;
}

.title {
    padding: 1rem 2rem;
    border: double 2px violet;
}

body {
  background-color: #fefdfd;
  color: #333333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-theme {
  background-color: #222222;
  color: #ffffff;
}
