* {
  box-sizing: border-box;            
  margin: 0;                        
  padding: 0;                       
}

body {
  font-family: 'Roboto', sans-serif; 
  line-height: 1.6;                  
  background-color: #717171;         
  color: #333333;                    
}

.container {
 font-size: clamp(16px, calc(100vw/38.4), 48px);
  display: grid;                     
  grid-template-columns: 1fr;        
  grid-template-areas:              
    "header"                        
    "sidebar"                        
    "main"                          
    "footer";                       
  gap: 20px;                        
  padding: 20px;                     
  margin: 0 auto;                   
}

.header  { grid-area: header; }      
.sidebar { grid-area: sidebar; }    
.main    { grid-area: main; }        
.footer  { grid-area: footer; }      

.sidebar ul {
  display: flex;                    
  flex-wrap: wrap;                   
  list-style: none;                 
  gap: 12px;                        
  margin-top: 10px;                 
}

.sidebar li {
  background-color: #ffffff;        
  padding: 8px 16px;                 
  border-radius: 6px;               
  color: #5c5270;                   
  font-weight: 500;                 
  border: 1px solid #c3bfcf;       
  transition: all 0.2s ease;       
  cursor: pointer;                  
}

.sidebar li:hover {
  background-color: #e0e0e0;         
}

@media (min-width: 786px) and (max-width: 1920px) {
    body {
    font-size: 36px;
  }
  .container {
    grid-template-columns: 1fr 3fr;  
    grid-template-areas:             
      "header   header"             
      "sidebar  main"                
      "footer   footer";             
  }
  
  .sidebar ul {
    flex-direction: column;          
    gap: 10px;                       
  }
}

.header, .sidebar, .main, .footer {
  padding: 30px;                     
  background-color: #ecdefa;         
  border-radius: 12px;              
  box-shadow: 0 10px 30px rgba(62, 40, 95, 0.25); 
}

.header h1, .main h2, .sidebar h2, .footer h3 {
  color: #2e263d;                  
  margin-bottom: 12px;               
}

.header p, .main p, .footer p {
  color: #5c5270;                    
}