      #social-icons ul {
                        list-style-type: none;
                        padding: 0;
                    }
                    #social-icons ul li {
                        display: inline-block;
                        margin-right: 10px;
                    }
                     #social-icons ul li a img {
                        vertical-align: middle;
                    }